.page404 {
    background-color: #d6eaff;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;

    &__dog-image {
      width: 100%;
      max-width: 20rem;
      margin-top: 1.25rem;
      margin-bottom: 2rem;
    }
    &__notfound-text {
      font-size: 1.25rem;
      margin-bottom: 1rem;
      font-weight: bold;
    }
  }